.header {
    color: #FFF;
    width: 100%;
  }
  
  .header-top {
    font-size: 22;
    background-color: #00BFFF;
    height: 80;
    padding-top: 35;
    padding-left: 20;
    padding-right: 20;
  }
  
  .header-buttons {
    font-size: 17;
    background-color:#1E90FF;
    height: 40;
    text-align: center;
    padding-top: 6;
  }
  
  .header-buttons Label.active {
    border-bottom-color: #FF8C00;
    border-bottom-width: 3;
    height: 34;
  }