.connect-page-styles {
    color: rgb(255, 255, 255);
    .field-header {
        width: 90%;
        font-size: 18;
        padding-top: 6;
        height: 42;
    }

    .button-search {
        @extend .field-header;
        margin-top: 200;
        margin-bottom: 1;
        background-color: #1e73be;
    }

    .button-connect {
        @extend .field-header;
        margin-top: 10;
        margin-bottom: 1;
        background-color: #1e73be;
    }

    .search-logo {
        margin-top: 10;
        height: 50;
    }
}
