
.connect-page-styles {
    
    color: white;
    .field-header {
        width: 90%;
        font-size: 18;
        padding-top: 6;
        height: 42;
    }

    .wifi-header {
        width: 100%;
        font-size: 18;
        padding-top: 6;
        height: 42;
    }

    .button-search {
        @extend .field-header;
        margin-top: 10;
        margin-bottom: 1;
        background-color: #1e73be;
    }

    .wifi-settings {
        @extend .wifi-header;
        margin-top: 4;
        background-color: #1e73be;
    }

    .button-search-default {
        @extend .field-header;
        margin-top: 230;
        margin-bottom: 1;
        background-color: #1e73be;
        color: white;
    }

    .button-connect {
        @extend .field-header;
        margin-top: 8;
        margin-bottom: 1;
        background-color: #1e73be;
    }

    .opaque {
        @extend .field-header;
        margin-top: 10;
        margin-bottom: 1;
        color: white;
        background-color: #1e73be;
        opacity: 0.5;
    }

    .search-logo {
        margin-top: 10;
        height: 20;
    }

    .list-data {
        width: 90%;
        height: 200;
        font-size: 15;
        margin-top: 3;
        background-color: #1e73be;
        color: #FFF;
    }

    .list-data Label.active {
        font-size: 15;
        margin-top: 3;
        background-color: #2599ff; //2599ff
    }

    .wifi-input-field {
        height: 50;
    }

    .wifi-input {
        margin-top: 4;
        font-size: 16;
        placeholder-color: #A8A8A8; 
    }

    .test {
        color: black;
    }
}
